apiVersion: apps/v1
kind: Deployment
metadata:
  name: kube-lab-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: kube-lab-app
  template:
    metadata:
      labels:
        app: kube-lab-app
    spec:
      containers:
        - name: kube-lab-app
          image: kube-lab-app:v1
          ports:
            - containerPort: 8080
          env:
            - name: APP_ENV
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: APP_ENV
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "200m"
              memory: "256Mi"
